{% extends 'base.html' %}


{% block content %}

<h1>Cart</h1>
{% if cart.products %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Producct Name</th>
      <th scope="col">Product Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in cart.products.all  %}

    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td> <a href="{{product.get_absolute_url}}"></a>{{product.title}} 
        <a href="#">Remove</a></td>
      <td>{{product.price}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3"></th>
      <td>
        <b>
        {{cart.subtotal}}</td>
      </b>
    </tr>
    <tr>
      <td colspan="2"></th>
      <td>
        <b>
        {{cart.total}}</td>
      </b>
    </tr>
  </tbody>
</table>
{% else %}
<p class="lead">Cart is empty</p>

{% endif %}
{% endblock content %}